var content = '<%= form_tag("/follows/delete", remote: true) do %>'
content += '<%= hidden_field_tag "user_id", @user_followed.id %>'
content += "<button type='submit' class='btn btn-azure'>"
content += "<i class='fa fa-eye-slash'></i>"
content += "Unfollow"
content += " </button>"
content += "<% end %>"
$('#user_followers').text('<%= @user_followed.followers %>');
$('#btn_follow').html(content);